@media screen and (max-width:576px){
    .hamburger{
        display: block;
    }
    nav>ul{
        display: none;
    }
    nav{
        padding-top: 0;
    }
    header{
        padding: 1rem;
    }
    /* banner */
    .banner{
        flex-direction: column;
    }
    .banner-img{
        width: auto;
        margin-top: 3rem;
    }
    .banner-text>h1{
        font-size: 3rem;
    }
    /* card */
    .cards{
        grid-template-columns: repeat(1,1fr);
    }

}