@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
/* primary styles */
section{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom:4rem ;
}
.btn-primary{
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    border: 0;
}
/* header style start */
header{
    background: #2D25A0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.hamburger{
    display: none;
    color: #FFF;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav>ul>li>a{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}
.banner-text{
    max-width: 485px;
}
.banner-text>h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 80px;
}
.banner-img{
    width: 656px;
}
.banner-img>img{
    width: 100%;
}
/* card section */
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card{
    padding: 1rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card>h3{
    font-size: 1.8rem;
    font-weight: 700;
}
.card>p{
    color: #6C6C6C;
    font-size: 1rem;
    line-height: 1.5rem;
}
.card>img{
    width: 100%;
}
/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    max-width: 466px;
}
.hero-text>h3{
    color: #0A0826;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}
.hero-img{
    max-width: 600px;
}
.hero-img>img{
    width: 100%;
}